# Entorno / IDE
.venv/
.env
.idea/

# Datos / modelos / logs (ignora contenido pero permite .gitkeep)
DAT_data/*
!DAT_data/.gitkeep

TRN_models/*
!TRN_models/.gitkeep

LOG_logs/*
!LOG_logs/.gitkeep

LOG_mlruns/*
!LOG_mlruns/.gitkeep

# Ficheros pesados/temporales
*.csv
*.parquet
*.tmp
*.log
.DS_Store
Thumbs.db
